
<div class="pokemon-grid">
  <% @pokemons.each do |pokemon| %>
    <div class="pokemon-card">
      <div class="pokemon-name"><%= pokemon.name %></div>
      <div class="trainer-name"><%= pokemon.trainer.name %></div>
    </div>
  <% end %>
</div>