@import "tailwindcss";

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  margin: 20px auto;
  max-width: 1200px;
}

.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  background: #f9f9f9;
}

.pokemon-name {
  font-weight: bold;
  font-size: 14px;
}

.trainer-name {
  font-size: 12px;
  color: #555;
}